In [26]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
import os
import json
import time
# Census API Key
from config import api_key

In [27]:
#census_data = c.acs5.get().json()
query_url = f"https://api.census.gov/data/2019/acs/acs5"
display(query_url)
#https://api.census.gov/data#/2019/acs/acs5&{api_key}#?get=NAME,group(B01001)&for=us:1&key={api_key}

'https://api.census.gov/data/2019/acs/acs5'

In [28]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels

cols = ["Zipcode", "Household Income", "Income per Capita", "Population",
        "Median Contract Rent", "Median Gross Rent", "Median Home Value",
        "Median Monthly Owner Costs","Median Age", "Year"]

df = pd.DataFrame(columns = cols)

years = [2014, 2019]

for year in years:

    c = Census(api_key, year=year)
    census_data = c.acs5.get(("NAME", "B19013_001E", 
                              "B19301_001E", 
                              "B01003_001E",
                              "B25058_001E",
                              "B25064_001E", 
                              "B25077_001E", 
                              "B25088_002E", 
                              "B01002_001E"), {'for': 'zip code tabulation area:*'})

    # Convert to DataFrame
    census_pd = pd.DataFrame(census_data)

    # Column Reordering
    census_pd = census_pd.rename(columns={"B19013_001E": "Household Income",
                                          "B19301_001E": "Income per Capita",
                                          "B01003_001E": "Population",
                                          "B25058_001E": "Median Contract Rent",
                                          "B25064_001E": "Median Gross Rent",
                                          "B25077_001E": "Median Home Value",
                                          "B25088_002E": "Median Monthly Owner Costs",
                                          "B01002_001E": "Median Age",
                                          "NAME": "Name", "zip code tabulation area": "Zipcode"})


    # Final DataFrame
    census_pd['Year']=str(year)
    
    census_pd = census_pd[cols]
    
    
    concat_df = pd.concat([df, census_pd])

# Visualize
#print(len(census_pd))
display(concat_df.head())

,Zipcode,Household Income,Income per Capita,Population,Median Contract Rent,Median Gross Rent,Median Home Value,Median Monthly Owner Costs,Median Age,Year
0,00601,14361.0,7493.0,17113.0,292.0,383.0,83900.0,771.0,41.9,2019
1,00602,16807.0,9694.0,37751.0,293.0,400.0,85300.0,877.0,42.9,2019
2,00603,16049.0,11259.0,47081.0,328.0,433.0,118400.0,832.0,42.1,2019
3,00606,12119.0,6093.0,6392.0,196.0,275.0,80800.0,526.0,44.3,2019
4,00610,19898.0,10572.0,26686.0,338.0,427.0,87600.0,751.0,42.7,2019

In [ ]:
#Need to clean or drop the data with 666666 in it.

In [29]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
concat_df.to_csv("census_data.csv", encoding="utf-8", index=False)

In [30]:
!ls

Census_Demo.ipynb
README.md
__pycache__
api_keys.py
census_data.csv
census_data2019.csv
config.py
files

In [31]:
#create DataFrame for MSA
#https://www.roelpeters.be/solved-dtypewarning-columns-have-mixed-types-specify-dtype-option-on-import-or-set-low-memory-in-pandas/
msa_df = pd.read_csv('../project_1/files/ScanUSZipCode2017A.csv',low_memory=False)
msa_df

,ZIP,NAME,COUNTY,COUNTYNAME,STATE,STATENAME,ZIPNAME,AREA,LATITUDE,LONGITUDE,...,INCCYPCAP,POPCY20_UP,RACCYWHITE,RACCYBLACK,RACCYAMIND,RACCYASIAN,RACCYHAWAI,RACCYOTHER,RACCYMULT,HISCYHISP
0,400,Central Park,36061,New York County,36,New York,Central Park,1.32716,40.782487,-73.965625,...,130905,139,121,27,0,13,0,2,2,16
1,501,IRS Service Center,36103,Suffolk County,36,New York,IRS Service Center,5.06117,40.816471,-73.044987,...,0,0,0,0,0,0,0,0,0,0
2,544,IRS Service Center,36103,Suffolk County,36,New York,IRS Service Center,0.00000,40.816602,-73.044987,...,0,0,0,0,0,0,0,0,0,0
3,1001,Agawam,25013,Hampden County,25,Massachusetts,Agawam,12.19081,42.070443,-72.627799,...,33164,13570,15271,565,36,484,0,189,314,1015
4,1002,Amherst,25015,Hampshire County,25,Massachusetts,Amherst,51.80159,42.373177,-72.511979,...,25647,25305,25885,2402,87,4333,13,871,1454,2995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40932,99926,Metlakatla,2198,Prince of Wales-Hyde,2,Alaska,Metlakatla,146.40996,55.126562,-131.573372,...,27074,1163,114,9,730,3,6,24,765,45
40933,99927,Point Baker,2198,Prince of Wales-Hyde,2,Alaska,Point Baker,245.54774,56.351172,-133.626432,...,27313,85,92,0,5,0,1,0,10,3
40934,99928,Ward Cove,2130,Ketchikan Gateway Bo,2,Alaska,Ward Cove,5130.43945,55.410352,-131.722201,...,0,0,0,0,0,0,0,0,0,0
40935,99929,Wrangell,2275,Wrangell City and Bo,2,Alaska,Wrangell,2595.99097,56.471875,-132.387305,...,30432,1819,1643,11,251,46,1,9,390,49
40936,99950,Ketchikan,2130,Ketchikan Gateway Bo,2,Alaska,Ketchikan,5130.43945,55.356315,-131.694076,...,0,0,0,0,0,0,0,0,0,0

In [34]:
Comparing Data Types between the two diffrent dataframes to make certain they match for the merge
print(msa_df.dtypes)

Zipcode         int64
NAME           object
COUNTY          int64
COUNTYNAME     object
STATE           int64
STATENAME      object
ZIPNAME        object
AREA          float64
LATITUDE      float64
LONGITUDE     float64
CBSA          float64
CBSANAME       object
NECTA         float64
NECTANAME      object
CA            float64
CANAME         object
MA            float64
MANAME         object
POPCY           int64
INCCYPCAP       int64
POPCY20_UP      int64
RACCYWHITE      int64
RACCYBLACK      int64
RACCYAMIND      int64
RACCYASIAN      int64
RACCYHAWAI      int64
RACCYOTHER      int64
RACCYMULT       int64
HISCYHISP       int64
dtype: object

In [35]:
print(concat_df.dtypes)

Zipcode                        object
Household Income              float64
Income per Capita             float64
Population                    float64
Median Contract Rent          float64
Median Gross Rent             float64
Median Home Value             float64
Median Monthly Owner Costs    float64
Median Age                    float64
Year                           object
dtype: object

In [40]:
#convert Zipcode datatype in concat_df to be int64
#https://www.kite.com/python/answers/how-to-convert-a-pandas-dataframe-column-from-object-to-int-in-python
concat_df["Zipcode"] = concat_df["Zipcode"].astype(object).astype(int)

In [41]:
#Rename ZIP column in MSA to match Zipcode from Census data
#https://note.nkmk.me/en/python-pandas-dataframe-rename/
msa_df.rename(columns={'ZIP': 'Zipcode'}, inplace=True)
msa_df

,Zipcode,NAME,COUNTY,COUNTYNAME,STATE,STATENAME,ZIPNAME,AREA,LATITUDE,LONGITUDE,...,INCCYPCAP,POPCY20_UP,RACCYWHITE,RACCYBLACK,RACCYAMIND,RACCYASIAN,RACCYHAWAI,RACCYOTHER,RACCYMULT,HISCYHISP
0,400,Central Park,36061,New York County,36,New York,Central Park,1.32716,40.782487,-73.965625,...,130905,139,121,27,0,13,0,2,2,16
1,501,IRS Service Center,36103,Suffolk County,36,New York,IRS Service Center,5.06117,40.816471,-73.044987,...,0,0,0,0,0,0,0,0,0,0
2,544,IRS Service Center,36103,Suffolk County,36,New York,IRS Service Center,0.00000,40.816602,-73.044987,...,0,0,0,0,0,0,0,0,0,0
3,1001,Agawam,25013,Hampden County,25,Massachusetts,Agawam,12.19081,42.070443,-72.627799,...,33164,13570,15271,565,36,484,0,189,314,1015
4,1002,Amherst,25015,Hampshire County,25,Massachusetts,Amherst,51.80159,42.373177,-72.511979,...,25647,25305,25885,2402,87,4333,13,871,1454,2995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40932,99926,Metlakatla,2198,Prince of Wales-Hyde,2,Alaska,Metlakatla,146.40996,55.126562,-131.573372,...,27074,1163,114,9,730,3,6,24,765,45
40933,99927,Point Baker,2198,Prince of Wales-Hyde,2,Alaska,Point Baker,245.54774,56.351172,-133.626432,...,27313,85,92,0,5,0,1,0,10,3
40934,99928,Ward Cove,2130,Ketchikan Gateway Bo,2,Alaska,Ward Cove,5130.43945,55.410352,-131.722201,...,0,0,0,0,0,0,0,0,0,0
40935,99929,Wrangell,2275,Wrangell City and Bo,2,Alaska,Wrangell,2595.99097,56.471875,-132.387305,...,30432,1819,1643,11,251,46,1,9,390,49
40936,99950,Ketchikan,2130,Ketchikan Gateway Bo,2,Alaska,Ketchikan,5130.43945,55.356315,-131.694076,...,0,0,0,0,0,0,0,0,0,0

In [42]:
#Merge data frames
merged_census_df = pd.merge(concat_df, msa_df, how="left", on=["Zipcode", "Zipcode"])
merged_census_df

,Zipcode,Household Income,Income per Capita,Population,Median Contract Rent,Median Gross Rent,Median Home Value,Median Monthly Owner Costs,Median Age,Year,...,INCCYPCAP,POPCY20_UP,RACCYWHITE,RACCYBLACK,RACCYAMIND,RACCYASIAN,RACCYHAWAI,RACCYOTHER,RACCYMULT,HISCYHISP
0,601,14361.0,7493.0,17113.0,292.0,383.0,83900.0,771.0,41.9,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,602,16807.0,9694.0,37751.0,293.0,400.0,85300.0,877.0,42.9,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,603,16049.0,11259.0,47081.0,328.0,433.0,118400.0,832.0,42.1,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,606,12119.0,6093.0,6392.0,196.0,275.0,80800.0,526.0,44.3,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,610,19898.0,10572.0,26686.0,338.0,427.0,87600.0,751.0,42.7,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,43970,-666666666.0,NaN,25.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,2019,...,18960.0,23.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33116,45617,-666666666.0,NaN,189.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,49.1,2019,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33117,95680,-666666666.0,NaN,10.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,2019,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33118,78802,-666666666.0,NaN,21.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,2019,...,19997.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
33119,72379,-666666666.0,NaN,15.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,2019,...,25363.0,42.0,35.0,16.0,0.0,0.0,0.0,0.0,2.0,1.0

In [44]:
# Save as a csv to check full data set
# Note to avoid any issues later, use encoding="utf-8"
merged_census_df.to_csv("census_data_checl.csv", encoding="utf-8", index=False)