In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
import os
import json
import time

In [3]:
# Import MSA File
msa_agg = pd.read_csv('MSa_Agg.csv',low_memory=False)
msa_agg["Population_growth_%"]= msa_agg["Population_growth_%"] * 100
msa_agg

,MANAME,Zip_count,Population_2014,Population_2019,Population_growth,Affordability_2019,Income_Growth,Weighted_Cost_Change,Affordability_Change,Population_growth_%
0,Akron OH,44,684698.0,684197.0,-501.0,0.251995,0.150071,0.015408,-0.112078,-0.073171
1,Albany-Schenectady-Troy NY,97,901947.0,904693.0,2746.0,0.260619,0.153546,0.104488,-0.027628,0.304452
2,Albuquerque NM,41,889636.0,901623.0,11987.0,0.270181,0.104422,0.050645,-0.027977,1.347405
3,Allentown-Bethlehem-Easton PA-NJ,65,832171.0,842967.0,10796.0,0.264688,0.158070,0.028259,-0.094991,1.297330
4,Atlanta-Sandy Springs-Roswell GA,210,5555455.0,5971811.0,416356.0,0.258598,0.196101,0.042300,-0.120291,7.494544
...,...,...,...,...,...,...,...,...,...,...
64,Tucson AZ,37,978564.0,1010951.0,32387.0,0.266035,0.149762,0.039751,-0.091046,3.309646
65,Tulsa OK,95,1079049.0,1112119.0,33070.0,0.244363,0.128667,0.060656,-0.050574,3.064736
66,Virginia Beach-Norfolk-Newport News VA-N,80,1668548.0,1687644.0,19096.0,0.276800,0.134159,0.028774,-0.076847,1.144468
67,Washington-Arlington-Alexandria DC-VA-MD,264,5838956.0,6164488.0,325532.0,0.251348,0.147875,0.077727,-0.051700,5.575175
68,Worcester MA-CT,94,901750.0,915998.0,14248.0,0.246202,0.163483,0.036794,-0.090275,1.580039

In [4]:
# Import Zipcode file
full_census_merge_metrics = pd.read_csv('Full_Census_Merge_Metrics.csv',low_memory=False)
full_census_merge_metrics

,Household Income_2014,Population_2014,Median Contract Rent_2014,Median Gross Rent_2014,Median Home Value_2014,Median Monthly Owner Costs_2014,state,Zipcode,Household Income_2019,Population_2019,...,Affordability_2014,Affordability_2019,Population Growth,Population Growth %,Change in Income,Change in Income %,Change in Weighted Cost,Change in Weighted Cost %,Change in Affordability,Change in Affordability %
0,68361.0,5113.0,753.0,906.0,208000.0,1642.0,25,1005,67302.0,5128.0,...,0.242344,0.239281,15.0,0.002934,-1059.0,-0.015491,-38.5628,-0.027932,-0.003062,-0.012637
1,43583.0,1389.0,599.0,758.0,196800.0,1473.0,25,1031,38173.0,1135.0,...,0.335644,0.383473,-254.0,-0.182865,-5410.0,-0.124131,0.8290,0.000680,0.047829,0.142500
2,80577.0,1791.0,775.0,1039.0,257100.0,1757.0,25,1068,88571.0,1833.0,...,0.223682,0.222530,42.0,0.023451,7994.0,0.099209,140.5076,0.093549,-0.001152,-0.005149
3,37126.0,3108.0,665.0,823.0,199600.0,1573.0,25,1083,60323.0,3094.0,...,0.422324,0.232532,-14.0,-0.004505,23197.0,0.624818,-137.6820,-0.105374,-0.189792,-0.449399
4,48679.0,1078.0,538.0,538.0,250600.0,1487.0,25,1092,108725.0,1278.0,...,0.283469,0.145723,200.0,0.185529,60046.0,1.233509,170.3978,0.148183,-0.137746,-0.485929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9218,59325.0,56326.0,900.0,1036.0,185100.0,1538.0,53,98682,75634.0,60887.0,...,0.271417,0.246530,4561.0,0.080975,16309.0,0.274909,212.0168,0.158007,-0.024887,-0.091695
9219,58874.0,31908.0,866.0,986.0,250200.0,1741.0,53,98683,70099.0,33219.0,...,0.294720,0.276872,1311.0,0.041087,11225.0,0.190661,171.4252,0.118556,-0.017848,-0.060559
9220,57216.0,27442.0,913.0,1065.0,208100.0,1521.0,53,98684,66781.0,29396.0,...,0.281627,0.282229,1954.0,0.071205,9565.0,0.167174,227.8344,0.169672,0.000603,0.002140
9221,79265.0,26954.0,1058.0,1249.0,257100.0,1856.0,53,98685,103120.0,29792.0,...,0.245069,0.207742,2838.0,0.105290,23855.0,0.300953,166.4156,0.102803,-0.037327,-0.152311
9222,72204.0,18060.0,908.0,999.0,263500.0,1830.0,53,98686,86382.0,20504.0,...,0.250165,0.236872,2444.0,0.135327,14178.0,0.196360,199.8800,0.132789,-0.013293,-0.053137

In [7]:
# Seperate the negative affordability zips
full_census_merge_negative = full_census_merge_metrics[full_census_merge_metrics['Change in Affordability'] < 0]
full_census_merge_negative

,Household Income_2014,Population_2014,Median Contract Rent_2014,Median Gross Rent_2014,Median Home Value_2014,Median Monthly Owner Costs_2014,state,Zipcode,Household Income_2019,Population_2019,...,Affordability_2014,Affordability_2019,Population Growth,Population Growth %,Change in Income,Change in Income %,Change in Weighted Cost,Change in Weighted Cost %,Change in Affordability,Change in Affordability %
0,68361.0,5113.0,753.0,906.0,208000.0,1642.0,25,1005,67302.0,5128.0,...,0.242344,0.239281,15.0,0.002934,-1059.0,-0.015491,-38.5628,-0.027932,-0.003062,-0.012637
2,80577.0,1791.0,775.0,1039.0,257100.0,1757.0,25,1068,88571.0,1833.0,...,0.223682,0.222530,42.0,0.023451,7994.0,0.099209,140.5076,0.093549,-0.001152,-0.005149
3,37126.0,3108.0,665.0,823.0,199600.0,1573.0,25,1083,60323.0,3094.0,...,0.422324,0.232532,-14.0,-0.004505,23197.0,0.624818,-137.6820,-0.105374,-0.189792,-0.449399
4,48679.0,1078.0,538.0,538.0,250600.0,1487.0,25,1092,108725.0,1278.0,...,0.283469,0.145723,200.0,0.185529,60046.0,1.233509,170.3978,0.148183,-0.137746,-0.485929
5,51002.0,13264.0,577.0,708.0,154500.0,1416.0,25,1331,57987.0,13486.0,...,0.273994,0.251545,222.0,0.016737,6985.0,0.136955,51.0106,0.043804,-0.022448,-0.081931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9217,59871.0,7335.0,913.0,1060.0,247300.0,1538.0,53,98675,75972.0,7159.0,...,0.270822,0.235330,-176.0,-0.023995,16101.0,0.268928,138.6756,0.102632,-0.035492,-0.131053
9218,59325.0,56326.0,900.0,1036.0,185100.0,1538.0,53,98682,75634.0,60887.0,...,0.271417,0.246530,4561.0,0.080975,16309.0,0.274909,212.0168,0.158007,-0.024887,-0.091695
9219,58874.0,31908.0,866.0,986.0,250200.0,1741.0,53,98683,70099.0,33219.0,...,0.294720,0.276872,1311.0,0.041087,11225.0,0.190661,171.4252,0.118556,-0.017848,-0.060559
9221,79265.0,26954.0,1058.0,1249.0,257100.0,1856.0,53,98685,103120.0,29792.0,...,0.245069,0.207742,2838.0,0.105290,23855.0,0.300953,166.4156,0.102803,-0.037327,-0.152311
9222,72204.0,18060.0,908.0,999.0,263500.0,1830.0,53,98686,86382.0,20504.0,...,0.250165,0.236872,2444.0,0.135327,14178.0,0.196360,199.8800,0.132789,-0.013293,-0.053137

In [10]:
# Calculate the total zip code population included in analysis
full_census_merge_metrics['Population_2019'].sum()

196936884.0

In [11]:
# Calculate the zip code population for which housing is becoming less afforadble
full_census_merge_negative['Population_2019'].sum()

168538042.0

In [13]:
# Seperate the negative affordability MSAs
msa_agg_negative = msa_agg[msa_agg['Affordability_Change'] < 0]
msa_agg_negative

,MANAME,Zip_count,Population_2014,Population_2019,Population_growth,Affordability_2019,Income_Growth,Weighted_Cost_Change,Affordability_Change,Population_growth_%
0,Akron OH,44,684698.0,684197.0,-501.0,0.251995,0.150071,0.015408,-0.112078,-0.073171
1,Albany-Schenectady-Troy NY,97,901947.0,904693.0,2746.0,0.260619,0.153546,0.104488,-0.027628,0.304452
2,Albuquerque NM,41,889636.0,901623.0,11987.0,0.270181,0.104422,0.050645,-0.027977,1.347405
3,Allentown-Bethlehem-Easton PA-NJ,65,832171.0,842967.0,10796.0,0.264688,0.158070,0.028259,-0.094991,1.297330
4,Atlanta-Sandy Springs-Roswell GA,210,5555455.0,5971811.0,416356.0,0.258598,0.196101,0.042300,-0.120291,7.494544
...,...,...,...,...,...,...,...,...,...,...
64,Tucson AZ,37,978564.0,1010951.0,32387.0,0.266035,0.149762,0.039751,-0.091046,3.309646
65,Tulsa OK,95,1079049.0,1112119.0,33070.0,0.244363,0.128667,0.060656,-0.050574,3.064736
66,Virginia Beach-Norfolk-Newport News VA-N,80,1668548.0,1687644.0,19096.0,0.276800,0.134159,0.028774,-0.076847,1.144468
67,Washington-Arlington-Alexandria DC-VA-MD,264,5838956.0,6164488.0,325532.0,0.251348,0.147875,0.077727,-0.051700,5.575175
68,Worcester MA-CT,94,901750.0,915998.0,14248.0,0.246202,0.163483,0.036794,-0.090275,1.580039